

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jssocials.js"></script>
<script src="js/detectizr.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>


