<!-- PHD Hero Header -->
<section class="newyork__hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-section">
                <h1 class="newyork__hero-header">
                    The Best College<br>
                    <span class="newyork__hero-sub-header">Essay Examples</span>
                </h1>
            </div>
        </div>
        <div class="row newyork__hero-form">
            <div class="col-sm-12">
                <form class="newyork-form" role="search" method="get" action="/">
                    <div class="form-input-fields">
                        <input value="" name="s" type="search" placeholder="Enter key words" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-submit newyork-form-button"><img
                            src="img/icons/search-btn.svg" alt="Find Your Dream Essay">Find Your Essay
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End PHD Hero Header -->