/* newyork Hero Header */

.newyork__hero {
  width:100%;
  padding-top: 192px;
  background: #000;
  background-image: url(../../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 45px;

  @media screen and (min-width: 768px){
    min-height: 620px;
    padding-bottom: 45px;
  }

  &-header {
    @extend .reset;
    background-image: linear-gradient(to right, #0ac5ca, #26f07e);
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 0.97;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 52px;

    &:after{
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      max-width: 230px;
      border-radius: 100px;
      background-image: linear-gradient(to right, #0ac5ca, #26f07e);
      margin: 41px auto 0 auto;
    }
  }

  &-sub-header{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #0ac5ca, #26f07e);
  }


  &-form {
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 1px #26f07e;
    max-width: 567.2px;
    margin: 0 auto;

    @media screen and (min-width: 992px){
      &-item{
        margin-top: 72px;
      }
    }

    .newyork-form-button img{
      padding-right: 8px;
      display: inline-block;

      @media screen and (max-width: 767px){
        display: none;
      }
    }

  }

}
