$pr_colr: #0eba84;
$text: #505050;
$bg_nav: #3d3743;

.reset {
  margin:0;
  padding:0;
}

.ul-reset {
  margin:0;
  padding:0;
  list-style: none;
}

.flex{
  display: flex;
}

.after {
  &:after {
    content: '';
    display: block;
    width: 100%;
    max-width: 40px;
    margin: 9px 0 20px 0;
    height: 2px;
    background: $pr_colr;
    text-decoration: none;
  }
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

